*.o
*.d
*.so
*.pyc

*.pdf
*.dot
*.cprof

.vscode/*

examples/samples/matrixMul/mm
examples/samples/vectorAdd/vec
examples/samples/deviceQuery/query
examples/samples/simpleMultiGPU/mgpu
examples/samples/UnifiedMemoryStreams/ums
