*.o
*.d
*.so
*.pyc

*.pdf
*.dot
*.cprof
*.csv

docs/

.vscode/*

examples/testing/cublas/cublas_test
examples/samples/matrixMul/mm
examples/samples/vectorAdd/vec
examples/samples/deviceQuery/query
examples/samples/simpleMultiGPU/mgpu
examples/samples/UnifiedMemoryStreams/ums
examples/caffe-master-10-22-2017/*
examples/mxnet/*

cprof/Makefile.config
profiler/Makefile.config
Makefile.config

cprof/tests/test1
cprof/external/googletest/lib


.DS_Store
._.DS_Store
