*.o
*.d
*.so
*.pyc

*.pdf
*.dot
*.cprof
*.csv

docs/

.vscode/*

examples/samples/matrixMul/mm
examples/samples/vectorAdd/vec
examples/samples/deviceQuery/query
examples/samples/simpleMultiGPU/mgpu
examples/samples/UnifiedMemoryStreams/ums
examples/caffe-master-10-22-2017/*
examples/mxnet/*

.DS_Store
._.DS_Store
