BOOST_ROOT=$(HOME)/software/boost_1_65_1

ZIPKIN_OPENTRACING_INCLUDE ?= $(HOME)/lib/include
OPENTRACING_INCLUDE ?= $(HOME)/lib/include

ZIPKIN_OPENTRACING_LIB ?= $(HOME)/lib/lib
OPENTRACING_LIB ?= $(HOME)/lib/lib

CUDA_ROOT ?= /usr/local/cuda